.page-wrap .siteheader {
  background-image: url(/sites/default/files/sweaver/sweaver_image_14.jpg);
  background-position: 50% 0%;
  background-repeat: no-repeat;
}

.page-wrap .menu-wrap {
  background-color: #c2bccc;
  background-image: url(/sites/default/files/sweaver/sweaver_image_14.jpg);
  background-position: 50% 0%;
}

