.page-wrap .siteheader {
  background-image: url(/sites/default/files/sweaver/sweaver_image_24.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #8cb1c2;
}

.page-wrap .menu-wrap {
  background-color: #000000;
  background-image: none;
  background-position: 50% 0%;
}

